*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.body {
  flex: 1;
  overflow-y: auto;
}

.header {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 20%;
  background-color: #444;
  padding: 10px;
  margin-left: -20px;
}

.logo {
  width: 100%;
  height: auto;
}

.header-divider {
  position: absolute;
  left: 20%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.header-icons {
  display: flex;
  gap: 15px;
}

.header-icon {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
}

.banner {
  width: 20%;
  background-color: #0f2e4f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  position: relative;
}

.banner button {
  width: 100%;
  height: 60px;
  margin: 5px 0;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
}

.banner button:hover {
  background-color: lightgray;
}

.sub-banner {
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #004690;
  color: white;
  display: none;
  flex-direction: column;
  padding: 20px;
}

.banner button:hover+.sub-banner,
.sub-banner:hover,
.banner:hover .sub-banner {
  display: flex;
}

.sub-banner button {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sub-banner button:hover {
  background-color: darkgray;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}